@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/graph.css" asp-append-version="true" />
<h1 class="display-4">Bot Page</h1>

<div class="container">
    
        @* This div contains the graph gui *@
        <div id="cy"></div> 
            
</div>
<script src="~/js/graph.js" asp-append-version="true"></script>