@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <div class="container mt-5">
        <div class="row">
            <!-- Play Against Bot Card -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Create new game</h5>
                        <p class="card-text">Create a new game lobby and invite other player.</p>
                        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="CreateLobby">Create</a>
                    </div>
                </div>
            </div>
            <!-- Multiplayer Card -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Join Game</h5>
                        <p class="card-text">Join a lobby thats already created.</p>
                        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="JoinLobby">Join</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


